<%= form_for([@versiculo, @item]) do |f| %>

  <%= f.fields_for :comment do |comment_form| %>
  <div>
    <%= comment_form.label :texto %><br />
    <%= comment_form.text_area :texto %>
  </div>
  <% end %>
  
  <div>
	<%= f.label :link_url %><br />
	<%= f.text_field :link_url %>
  </div>
  

  <div>
    <%= f.submit %>
  </div>
<% end %>