<div class="atividadeThumb">
	<a class="uiVideoThumb" data-url="<%= item.player_url + '&autoplay=1' %>" href="<%= item.link_url %>" target="_blank">
		<img src="<%= item.thumb_url %>">
		<i></i>
	</a>
</div>
<div class="atividadeInfo videoInfo">
<%= link_to item.titulo, item.link_url, {:class => "atividadeTitulo"} %>
<%= link_to item.link_url, item.link_url, {:class => "atividadeDescricao"} %>
<div>