<div id="content" class="index">
    <h2>Últimos Versículos Comentados</h2>
    <%= render :partial => 'biblia_social/comentarios' %>
	<%= link_to current_user.email, edit_user_path(current_user) if current_user != nil %>
	<%= user_session %>
	<%= user_signed_in? %>
    <h2>Livros</h2>
    <%= render :partial => 'partials/livros' %>
</div>
<div id="sidebar">

</div>
