<%= title "#{@livro.nome} - BíbliaSocial.com" %>

<div id="content">
    <%= breadcrumb [['Bíblia', '/'],[@livro.nome, "/#{@livro.permalink}"]] %>
    <h2 class="titulo clear" data-nome="<%= @livro.nome %>" data-url="<%= "http://www.bibliasocial.com/#{@livro.permalink}" %>"><span class="comment_count"></span><%= @livro.nome %></h2>

    <%= render :partial => 'partials/capitulos' %>

    <h2>Livros</h2>
    <%= render :partial => 'partials/livros' %>
</div>
<div id="sidebar">
    <h3>Facebook</h3>
    <div id="sidebar_window">
        <div class="title"><div class="text"></div><span>fechar <b>x</b></span></div>
        <p id="buttons"></p>
        <div id="facebook"></div>
    </div>
    <div id="sidebar_window2">
        <div class="title"><div class="text"><b>Comentários:</b> <%= @livro.nome %></div><span>fechar <b>x</b></span></div>
        <div id="facebook2"><fb:comments href="<%= "http://www.bibliasocial.com/#{@livro.permalink}"%>" num_posts="10" width="360"></fb:comments></div>
    </div>
</div>