<%= title "Busca - BíbliaSocial.com" %>

<div id="content">
    <h2 class="titulo clear">Busca</h2>
    
    <p>Sua busca por <b><%= params[:keywords] %></b> retornou <b><%= @versiculos.total_entries %></b> resultados</p>

    <div class="c">
        <%= will_paginate @versiculos, :next_label => 'Próximos', :previous_label => 'Anteriores', :inner_window => 2, :outer_window => 0 %>
    </div>

    <% @versiculos.each_with_index do |versiculo, i| %>
        <% @livro = versiculo.livro %>
        <% @capitulo = versiculo.capitulo %>
        <%= render :partial => 'partials/versiculo', :locals => { :versiculo => versiculo, :i => i, :show_titulo => true } %>
    <% end %>

    <div class="c">
        <%= will_paginate @versiculos, :next_label => 'Próximos', :previous_label => 'Anteriores', :inner_window => 2, :outer_window => 0 %>
    </div>

    <h2>Livros</h2>
    <%= render :partial => 'partials/livros' %>
</div>
<div id="sidebar">
    <h3 class="special">Facebook</h3>
    <div id="sidebar_window">
        <div class="title"><div class="text"></div><span>fechar <b>x</b></span></div>
        <p id="buttons"></p>
        <div id="facebook"></div>
    </div>
    <div id="sidebar_window2">
        <div class="title"><div class="text"><b>Comentários:</b> Bíblia</div><span>fechar <b>x</b></span></div>
        <div id="facebook2"><fb:comments href="<%= "http://www.bibliasocial.com" %>" num_posts="10" width="360"></fb:comments></div>
        <div style="padding: 10px"><fb:like-box href="http://www.facebook.com/pages/B%C3%ADblia-Social/133077516773700" width="360" show_faces="true" border_color="" stream="false" header="false"></fb:like-box></div>
    </div>
</div>