<%= title "Busca - BíbliaSocial.com" %>
<%= content_for :menu_selecionado, 'biblia' %>

<div id="content" class="busca">
    <h2 class="titulo clear">Busca</h2>

    <%= form_tag '/search', :method => 'get' do |f| %>
      <%= submit_tag 'Buscar', {:class => 'botao neutro botao_interno_busca'} %>
      <div class="palavra_chave_container">
        <%= text_field_tag 'keywords', params[:keywords], {:id => '', :class => 'palavra_chave'} %>
      </div>
    <% end %>
    <p class="quantidade_resultados">Sua busca retornou <%= @versiculos.total_entries %> versículos</p>

    <% @versiculos.each_with_index do |versiculo, i| %>

        <% @livro = versiculo.livro %>
        <% @capitulo = versiculo.capitulo %>
        <%= render :partial => 'partials/versiculo', :locals => { :versiculo => versiculo, :i => i, :mostrar_referencia => true } %>
    <% end %>

    <div class="c">
        <%= will_paginate @versiculos, :next_label => 'Próximos', :previous_label => 'Anteriores', :inner_window => 2, :outer_window => 0 %>
    </div>

</div>
<div id="sidebar">
  <div id="sidebar_opaco"></div>
  <div id="sidebar_flutuante" class="sidebar"></div>
  <div class="widigetSidebar">
    <h3>Filtro <span class="info">Você pode filtrar por livros ou pelo testamento</span></h3>
    <% if @filtro_testamentos.count > 0 %>
        <ul class="filtrosBusca filtroTestamentos">
          <% @filtro_testamentos.each_with_groupby_and_count do |versiculo, secao_id, count| %>
            <li class="<%=(params[:secao_id] == secao_id.to_s)? 'selected' : ''%>"><a href="/search?keywords=<%=params[:keywords]%>&secao_id=<%=secao_id%>"><%= versiculo.sphinx_attributes['secao_nome'] %> <span><%= count %></span></a></li>
          <% end %>
        </ul>
    <% end %>

    <ul class="filtrosBusca">
      <% @filtro_livros.each_with_groupby_and_count do |versiculo, livro_id, count| %>
          <li class="<%=(params[:livro_id] == livro_id.to_s)? 'selected' : ''%>"><a href="/search?keywords=<%=params[:keywords]%>&livro_id=<%=livro_id%>"><%= versiculo.sphinx_attributes['livro_nome'] %>  <span><%= count %></span></a></li>
      <% end %>
    </ul>
  </div>
</div>