<div id="livros" class="clear">
    <% size = 20 %>
    <% @livros_velho_testamento.each_with_index do |livro, i| %>
        <%= '<ul>'.html_safe if i % size == 0 %>
        <%= "<li><a href='/#{livro.permalink}/1'>#{h livro.nome}</a></li>".html_safe %>
        <%= '</ul>'.html_safe  if i % size == size - 1 %>
    <% end %>
    <%= '</ul>'.html_safe if @livros_velho_testamento.length % size != 0 %>

    <% size = 20 %>
    <% @livros_novo_testamento.each_with_index do |livro, i| %>
        <%= '<ul>'.html_safe if i % size == 0 %>
        <%= "<li><a href='/#{livro.permalink}/1'>#{h livro.nome}</a></li>".html_safe %>
        <%= '</ul>'.html_safe  if i % size == size - 1 %>
    <% end %>
    <%= '</ul>'.html_safe if @livros_novo_testamento.length % size != 0 %>
</div>