 <p id="<%=versiculo.id%>" class="versiculo clear<%= ' odd' if i % 2 == 1 %>" data-nome="<%= "#{versiculo.livro.nome} #{versiculo.capitulo.numero}:#{versiculo.numero}" %>" data-url="<%= "http://www.bibliasocial.com/#{versiculo.livro.permalink}/#{versiculo.capitulo.numero}/#{versiculo.numero}" %>">
    <%= link_to(versiculo.numero, "/#{versiculo.livro.permalink}/#{versiculo.capitulo.numero}/#{versiculo.numero}") unless defined?(show_titulo) %> 
    <span class="text"><%= '"' if defined?(show_aspas) %><%= highlight(versiculo.texto) %><%= '"' if defined?(show_aspas) %></span>
    <a href="<%= versiculo_atividades_path(versiculo)%>" class="comment_count" data-remote=true>
        <i></i>
        <span><%= versiculo.atividades.count%></span>
    </a>
</p>