<p id="ver-<%=versiculo.numero%>" class="versiculo clear<%= ' odd' if i % 2 == 1 %>" data-nome="<%= "#{versiculo.livro.nome} #{versiculo.capitulo.numero}:#{versiculo.numero}" %>" data-url="<%= "http://www.bibliasocial.com/#{versiculo.livro.permalink}/#{versiculo.capitulo.numero}/#{versiculo.numero}" %>">
    <%= link_to(versiculo.numero, "/#{versiculo.livro.permalink}/#{versiculo.capitulo.numero}/#{versiculo.numero}") unless defined?(show_titulo) %> 
    <span class="text"><%= '"' if defined?(show_aspas) %><%= highlight(versiculo.texto) %><%= '"' if defined?(show_aspas) %></span>
    <span class="comment_count"><%= versiculo.atividades.count %></span>
	<%= link_to "Atividades("+versiculo.atividades.count.to_s+")", versiculo_atividades_path(versiculo)%>
	<%= link_to "Comentar("+versiculo.comments.count.to_s+")", versiculo_comments_path(versiculo)%>
	<%= link_to "Ref("+versiculo.referencias.count.to_s+")", versiculo_referencias_path(versiculo)%>
	<%= link_to "Links("+versiculo.links.count.to_s+")", versiculo_links_path(versiculo)%>
	<%= link_to "Videos("+versiculo.videos.count.to_s+")", versiculo_videos_path(versiculo)%>
    <%= link_to("#{versiculo.livro.nome} #{versiculo.capitulo.numero}:#{versiculo.numero}", "/#{versiculo.livro.permalink}/#{versiculo.capitulo.numero}/#{versiculo.numero}", {:class=>"referencia"}) if defined?(show_titulo) %>
</p>