<h5 class="tituloDivisor">Editando Perfil</h5>

<%= form_for @user, :html => { :multipart => true } do |f| %>
  <div>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  
  <div>
    <%= f.label :foto, "Foto do Perfil" %><br />
    <%= f.file_field :foto %>
  </div>

  <div class="botoes">
    <%= f.submit "Salvar Alterações", :class => "botao positive" %>
  </div>
<% end %>