<%= form_for([@versiculo, @comment]) do |f| %>
  <div>
    <%= f.label :texto %><br />
    <%= f.text_area :texto %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<ul>
<% @comments.each do |comment| %>
	<li>
		<%= simple_format comment.texto_html.html_safe %> ( <%=comment.user%> )
		<%= link_to "Excluir", [comment.versiculo, comment], :method => :delete	%>
	</li>
<% end %>
</ul>

<script>
$("[title]").tooltip({effect:'fade'});
</script>

<style>
.tooltip {
	display:none;
	font-size:12px;
	width:360px;
	background-color:#ffa;
	border:1px solid #cc9;
	padding:3px;
	font-size:13px;
	-moz-box-shadow: 2px 2px 11px #666;
	-webkit-box-shadow: 2px 2px 11px #666;
}
</style>