<h5 class="tituloDivisor"><%=@tituloDivisor.html_safe%></h5>

<ul class="listaUsers">
<% @users.each do |user| %>
	<li>
      <%= link_to (image_tag user.foto.url(:thumb)), user_path(user), {:class => "userFoto"} %>
      <div class="userInfo">
        <div>
            <%= link_to user.nome, user_path(user), {:class => "userNome"} %>
        </div>
        <div class="userMaisInfo">
            <%= pluralize(user.seguidores_count, 'seguidor')%>
        </div>
      </div>
      <div class="userBotoes">
            <%= render :partial => 'partials/botao_seguir', :locals => {:user => user}%>
      </div>
	</li>
<% end %>
</ul>

<%if !@users_paginate.nil?%>
    <div class="c">
        <%= will_paginate @users_paginate, :next_label => 'Próximos', :previous_label => 'Anteriores', :inner_window => 2, :outer_window => 0 %>
    </div>
<%end%>