<div id="content" class="index">

	<%= render :partial => "partials/#{@item.class.name.downcase}/new", :locals=> {:versiculo => @versiculo, :item => @item} %>


	<ul class="atividadesFiltros">
		<li class="atividadeFiltro <%="selected" if @filtro == "Atividade"%>">
			<a href="<%= versiculo_atividades_path(@versiculo)%>" title="Atividades">
				<i></i>
				<span><%= @versiculo.atividades.count if @versiculo.atividades.count > 0%></span>
			</a>
		</li>
		<li class="commentFiltro <%="selected" if @filtro == "Comment"%>">
			<a href="<%= versiculo_atividades_path(@versiculo) + "?filtro=Comment"%>" title="Comentários">
				<i></i>
				<span><%= @versiculo.comments.count if @versiculo.comments.count > 0%></span>
			</a>
		</li>
		<li class="videoFiltro <%="selected" if @filtro == "Video"%>">
			<a href="<%= versiculo_atividades_path(@versiculo) + "?filtro=Video"%>" title="Vídeos">
				<i></i>
				<span><%= @versiculo.videos.count if @versiculo.videos.count > 0%></span>
			</a>
		</li>
		<li class="linkFiltro <%="selected" if @filtro == "Link"%>">
			<a href="<%= versiculo_atividades_path(@versiculo) + "?filtro=Link"%>" title="Links">
				<i></i>
				<span><%= @versiculo.links.count if @versiculo.links.count > 0%></span>
			</a>
		</li>
		<li class="referenciaFiltro <%="selected" if @filtro == "Referencia"%>">
			<a href="<%= versiculo_atividades_path(@versiculo) + "?filtro=Referencia"%>" title="Referências">
				<i></i>
				<span><%= @versiculo.referencias.count if @versiculo.referencias.count > 0%></span>
			</a>
		</li>
		<li class="citacaoFiltro <%="selected" if @filtro == "Citacao"%>">
			<a href="<%= versiculo_atividades_path(@versiculo) + "?filtro=Citacao"%>" title="Citações">
				<i></i>
				<span><%= @versiculo.referencias.count if @versiculo.referencias.count > 0%></span>
			</a>
		</li>
	</ul>
	<div class="cuboLeft"></div>
	<div class="cuboRight"></div>
	<%= render :partial => 'partials/atividades', :locals => {:itens => @itens, :mostrar_versiculo => false}%>
</div>
