<%= form_for([@versiculo, @referencia]) do |f| %>

  <%= f.fields_for :comment do |comment_form| %>
  <div>
    <%= comment_form.label :texto %><br />
    <%= comment_form.text_area :texto %>
  </div>
  <% end %>
  
  <div>
	<%= f.label :ref %><br />
	<%= f.text_field :ref %>
  </div>
  

  <div>
    <%= f.submit %>
  </div>
<% end %>

<ul>
<% @referencias.each do |referencia| %>
	<li>
		<a title="<%=referencia.versiculo_citado.texto%>" href="<%=referencia.versiculo.url%>"><%=referencia.ref%></a>
	</li>
<% end %>
</ul>