<%= form_for([agrupador_item, comment], :remote => true,  :html => {:class => "atividadesForm"}) do |f| %>

    <div class="textareaContainer">
        <%= f.text_area :texto, {:placeholder=> "Comente aqui..."} %>
    </div>
  
    <ul class="botoesItens">
        <li class="botaoVideo">
            <a href="/" data-placeholder="Digite ou cole a url do vídeo" title="Adicionar Vídeo" data-item-type="Video">
                <i></i>
            </a>
        </li>
        <li class="botaoLink">
            <a href="/" data-placeholder="Digite ou cole um link" title="Adicionar Link" data-item-type="Link">
                <i></i>
            </a>
        </li>
        <% if agrupador_item.class == Versiculo  %>
            <li class="botaoReferencia">
                <a href="/" data-placeholder="Digite uma referência (Jo 3.16, por exemplo)" title="Adicionar Referência" data-item-type="Referencia">
                    <i></i>
                </a>
            </li>
        <% end %>
    </ul>
  
    <div class="stringItemContainer">
        <%= text_field_tag  'comment[string_item]', nil,  {:id => "stringItem"} %>
        <%= hidden_field_tag  'comment[item_type]', nil,  {:id => "itemType"} %>
    </div>

    <div class="botoes">
        <%= f.submit "Publicar", :disable_with => "Publicando..." %>
    </div>
<% end %>