<li id="<%="#{item.class.name}_#{item.id}"%>" class="<%=item.class.name%> <%="Atividade" if classe_atividade %>" style="<%="display:none" unless classe_atividade %>" data-item-dependencia="<%=item_dependencia if defined?(item_dependencia)%>">
	<%= link_to (image_tag item.user.foto.url(:small)), user_path(item.user), {:class => "atividadeUserFoto"} %>
	<div class="atividadeContainer">
		<%= render :partial => 'partials/user_atividade', :locals => {:item => item, :mostrar_versiculo => mostrar_versiculo}%>
		<% if item.class.method_defined?(:comment_descricao) && item.comment_descricao != nil %>
			<%= render :partial => "partials/comment/show", :locals => {:item => item.comment_descricao}%>
		<% end %>
		<%= render :partial => "partials/#{item.class.name.downcase}/show", :locals => {:item => item}%>
        <div class="atividadeFooter">
            <span class="botoesVoto">
                <%= render :partial => "partials/botoes_votos", :locals => {:item => item}%>
             </span>
		    <span class="atividadeDatahora" title="<%=item.created_at%>">há <%= distance_of_time_in_words_to_now item.created_at %></span>
            <%  if item.pode_excluir?(current_user) %>
                &nbsp;-&nbsp;
                <%= link_to content_tag(:i) + "Excluir", [item.versiculo, item], :remote => true, :confirm => 'Deseja realmente excluir esta publicação?',:method => :delete, :class => "botaoExcluirItem" %>
            <% end %>
        </div>
	</div>
</li>

<% item.atividades_dependentes.each do |comment_atividade_item| %>
  <%= render :partial => "partials/atividade/show", :locals => {:item => comment_atividade_item, :mostrar_versiculo => mostrar_versiculo, :classe_atividade => false, :item_dependencia => "#{item.class.name}_#{item.id}" }%>
<% end %>