<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xml:lang="pt-br" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title><%= (title = yield(:title)).blank? ? 'BíbliaSocial.com' : title %></title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta content="<%= (description = yield(:description)).blank? ? 'Versão Online da Bíblia com integração com Facebook e Twitter' : description %>" name="description" />
        <meta property="fb:app_id" content="200389373346541"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://www.bibliasocial.com/images/icon2.png"/>
        <meta property="og:site_name" content="Bíblia Social"/>
        <meta property="og:title" content="<%= (title = yield(:title)).blank? ? 'BíbliaSocial.com' : title %>"/>
        <meta property="og:url" content="<%= request.url %>"/>
        <meta property="og:description" content="<%= (description = yield(:description)).blank? ? 'Versão Online da Bíblia com integração com Facebook e Twitter' : description %>"/> 
		<%= csrf_meta_tag %>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">-->
        <%= stylesheet_link_tag 'jquery_ui', 'application', 'tipsy', 'colorbox/colorbox' %>
        <% if ENV['RAILS_ENV'] == 'production' %>
            <%= javascript_include_tag 'all' %>
        <% else %>
            <%= javascript_include_tag 'jquery', 'rails', 'jquery_ui', 'jquery.tipsy', 'jquery.autosize-min', 'secret', 'jquery-ui.custom.min', 'jquery.reticencias', 'jquery.livequery', 'jquery.colorbox', 'jquery.scrollTo', 'jquery.cookie' %>
        <% end %>
        <script type="text/javascript">//FB = null</script>
        <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
        <%= javascript_include_tag 'fb-auto-login' if !user_signed_in? %>
    </head>
    <body class="<%= cookies['fullscreen'] == 'true' ? 'fullscreen' : ''%>">
        <div id="loading"><span class="text">Carregando...</span></div>
        <div id="fb-root"></div>
        <div id="top">
            <div class="wrapper clear">

              <h1 id="logo"><a href="/">BibliaSocial.com</a></h1>
              <div id="search">
                  <%= form_tag '/search', :method => 'get' do |f| %>
                      <%= text_field_tag 'keywords', 'Busca...' %><%= submit_tag '' %>
                  <% end %>
              </div>
              <ul id="menu_superior" class="listaInline">
                <% if !user_signed_in? %>
                    <%= content_tag "li" , link_to("Entrar", "/users/sign_in")%>
                    <%= content_tag "li", link_to("Cadastre-se", "/users/sign_up")%>
                    <%# content_tag "li", link_to("Facebook", user_omniauth_authorize_path(:facebook))%>
                    <li style="padding: 0px 9px;"> <%= render :partial => "partials/botao_facebook"%></li>
                <% else %>
                    <%
                       menu = Hash.new
                       menu['biblia'] = link_to("Bíblia", "/", {:title => 'Abra a Bíblia e comece a ler!'})
                       menu['mural'] = link_to("Mural", "/mural", {:title => 'Veja as publicações de quem você segue!'})
                       menu['perfil'] = link_to(image_tag(current_user.foto.url(:small)) + current_user.nome_curto, user_path(current_user), {:title => 'Visualize e edite seu Perfil'})
                       menu['sair'] = link_to("Sair", "/users/sign_out", :method => :delete)
                    %>
                    <% menu.each do |index, link| %>
                        <li class="<%=  (yield(:menu_selecionado) == index)? 'selected' : ''%>"> <%= link %></li>
                    <% end %>
                <% end %>
              </ul>
            </div>
        </div>
        <% flash_messages = String.new %>
        <% flash.each do |name, msg| %>
            <% flash_messages +=  content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <% end %>
        <% if !flash_messages.empty? %>
            <div id="messageContainer">
                <a class="botaoFecharMedio" href="#"></a>
                <div class="messageContainerText">
                    <%= flash_messages.html_safe %>
                </div>
            </div>
        <% end %>
        <div class="wrapper">
            <div id="window" class="clear">
                <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
        </div>
        <%= yield :ready %>
        <script type="text/javascript">
                var USUARIO_ESTA_LOGADO = <%= user_signed_in? ? 'true':'false' %>;
                var URL_LOGIN = '<%= new_user_session_url %>';
                var livros_capitulos = new Array();

                <% livros = Livro.order('id ASC')%>
                <% livros.each do |livro|%>
                    livros_capitulos["<%= livro.id %>"] = {nome: "<%= livro.nome %>", permalink: "<%= livro.permalink %>", capitulos_count: <%= livro.capitulos.size %>, url: '<%= url_for("/" + livro.permalink) %>' }
                <% end %>

                var livros = <%= livros.map(&:nome).to_json.html_safe %>;

                var accentMap = {
                    'á': 'a',
                    'ã': 'a',
                    'é': 'e',
                    'ê': 'e',
                    'í': 'i',
                    'ó': 'o',
                    'ô': 'o',
                    'õ': 'o',
                    'ú': 'u'
                };
                var normalize = function(term) {
                    var ret = "";
                    for (var i = 0; i < term.length; i++) {
                        ret += accentMap[term.charAt(i)] || term.charAt(i);
                    }
                    return ret;
                };

                $("#search input[type=text]").autocomplete({
                    source: function(request, response) {
                        var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                        response($.grep(livros, function(value) {
                            value = value.label || value.value || value;
                            return matcher.test(value) || matcher.test(normalize(value));
                        }));
                    }
                });
        </script>



        <script type="text/javascript">
//            var _gaq = _gaq || [];
//            _gaq.push(['_setAccount', 'UA-24443328-1']);
//            _gaq.push(['_trackPageview']);
//
//            (function() {
//                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
//                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
//                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
//            })();
        </script>
    </body>
</html>