<table width=100% cellpadding=12 cellspacing=0 border=0>
  <tr>
    <td>
      <font size=-1><div lang="pt" style="padding:0;margin:0">
        <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td style="background-color:#FAFAFA;padding:30px 15px 0">
          <table cellspacing="0" cellpadding="0" border="0" align="center" width="710" style="font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:16px;color:#333">
            <tr>
              <td style="background: #2D2D2D;line-height: 40px;border-bottom: solid 4px #C52F24;padding: 5px 0px 0px 40px;font-weight: bold;font-size: 1.6em;">
                <a style="color:#ffffff;display:block;font-style: normal;" href="<%= root_url %>" target="_blank">
                  <!--<img alt="Twitter" height="52" src="http://a0.twimg.com/a/1330097827/images/email/email_header_710.png" style="border:0;display:block" width="710">-->
                  BíbliaSocial.com
                </a>
              </td>
            </tr>

            <tr>
              <td style="background-color:#fff;padding:25px 40px 22px">
                <table cellpadding="0" cellspacing="0" border="0" width="600" align="center" style="margin:0 auto">
                  <tr>
                    <td height="36" width="540" valign="middle" style="padding:0 0 25px">
                      <h1 style="font-weight:normal;font-size:19px;line-height:1.2;margin:0">

                        <%= yield(:notificacao) %>
						
                      </h1>
                    </td>
                    <td valign="middle" align="right" style="padding:0 0 25px">
						<%= yield(:icone) %>
                    </td>
                  </tr>
                </table>
                <table style="background:#D5E9F6;border-radius:4px" width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tr>

                    <%= yield %>

                  </tr>
                </table>
                <!--<img width="1" height="1" style="display:block" src="https://twitter.com/scribes/ibis?iid=am-4065281413302176706121513&amp;nid=23&amp;uid=343797274">-->
              </td>
            </tr>
            <tr><td style="background-color:#fff;padding:0 0 10px 0"></td></tr>
            <tr>
              <td style="background-color:#fff;padding:32px 40px 22px;border-top:1px solid #e4ecf0">
                <table cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td valign="middle" style="padding:0 0 0 15px">
                      <table style="background-color: #368200;" cellpadding="0" border="0" cellspacing="0">
                        <tr>
                          <td width="1" height="1" style="background-color:#fff"></td>
                          <td></td>
                          <td width="1" height="1" style="background-color:#fff"></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td style="padding:5px">

                            <%= yield(:botao) %>

                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td width="1" height="1" style="background-color:#fff"></td>
                          <td style="background-color:#4e6f8a"></td>
                          <td width="1" height="1" style="background-color:#fff"></td>
                        </tr>
                      </table>
                    </td>
                    <td valign="middle" style="padding:0 0 0 15px;font-size:15px;line-height:19px">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr><td style="padding:0 0 10px 0;background-color:#fff;border-bottom-right-radius:8px;border-bottom-left-radius:8px"></td></tr>
            <tr>
              <td>
                <div style="padding:0 5px">
                  <div style="min-height:2px;line-height:2px;font-size:2px;background-color:#e2e7e7;clear:both;border-bottom-right-radius:5px;border-bottom-left-radius:5px"></div>
                </div>
              </td>
            </tr>
            <tr><td style="font-size:11px;line-height:16px;color:#aaa;padding:25px 40px">
              <!--Se você preferir não receber e-mails de notificação de seguidor do twitter, você pode <a href="https://twitter.com/account/unsubscribe?code=d4TK9%2FMDiFWj1YEMxMPpiH62yIchMWPdrpSrFwL6n9Y%3D&amp;iid=am-4065281413302176706121513&amp;nid=23+unsubscribe&amp;t=follow&amp;uid=343797274&amp;utm_content=optout" style="color:#6d90a9;text-decoration:none" target="_blank">desinscrever-se</a> imediatamente. Para se reinscrever ou alterar as preferências de e-mail no Twitter, visite as configurações da sua conta para gerenciar <a href="https://twitter.com/settings/notifications?iid=am-4065281413302176706121513&amp;nid=23+settings&amp;uid=343797274&amp;utm_content=notices" style="color:#6d90a9;text-decoration:none" target="_blank">notificações de e-mail</a>. -->
              Por favor não responda esta mensagem; ela foi enviada por um endereço de e-mail não monitorado. Esta mensagem é relacionada ao seu uso da BíbliaSocial.
            </td></tr>
          </table>
        </td></tr></table>
      </div>
      </font>
</table>