<%= title "#{@user.nome} - BíbliaSocial.com" %>

<% content_for :content do %>
    <div id="content">

        <div class="userPerfilContainer" style="display: table; width:100%">
          <%= image_tag @user.foto.url(:normal), :class => "userFoto" %>
          <div class="userInfo">
            <div>
                <%= link_to @user.nome, user_path(@user), {:class => "userNome"} %>
            </div>
            <div class="userMaisInfo">
                <%= link_to 'Seguidores - ' + @user.followers.size.to_s , seguidores_user_path(@user) %>
                <br/>
                <%= link_to "Seguindo - " + @user.all_following.size.to_s, seguindo_user_path(@user) %>
            </div>
          </div>
          <div class="userBotoes">
                <%= render :partial => 'partials/botao_seguir', :locals => {:user => @user}%>
                <%= link_to "Editar Perfil", edit_user_path(@user), :class => "editPerfilBotao botao neutro" if @user == current_user%>
          </div>
        </div>

        <%= yield %>
    </div>
<% end %>

<%= render :template => 'layouts/application' %>

